.conteudo-container {
    text-align: center;
    margin-top: 50px;
    height: 100%;
    flex:1;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
}

.voltar-button {
    background-color: #17A354;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Garante que o botão não ocupe toda a largura */
    align-self: center; /* Alinha o botão ao centro */
}

.voltar-button:hover {
    background-color: #1ab65e;
}