/* Reset e variáveis estão definidos no global.css */

/* Estilização do cabeçalho */
.cabeçalho {
    width: 100%;
    background-color: var(--color-primary);
}

/* Navbar superior (Criar Conta, Entrar e Carrinho) */
.cabeçalho3 {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaça os elementos (logo, barra de pesquisa e botões) */
    padding: 10px 0;
}

.navbar-nav {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.nav-item .nav-link {
    color: var(--color-light);
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
}

/* Nome do site (EconAgro) */
.Nome_site {
    font-size: x-large;
    font-weight: bold;
    color: var(--color-light);
    margin-right: auto; /* Faz com que o nome do site fique à esquerda */
    white-space: nowrap;
    text-decoration: none;
}

/* Barra de pesquisa */
.search {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo interno */
    border: 1px solid #ccc;
    background-color: #ffffff;
    width: 65%; /* Ajuste a largura da barra de pesquisa */
    max-width: 900px; /* Define um limite para telas grandes */
    border-radius: 20px;
    padding: 5px 15px;
    margin: 0 auto; 
}

#searchinput {
    padding: 10px;
    border: none;
    background-color: #ffffff;
    width: 100%;
    outline: none;
    font-size: 16px;
}

.search label i {
    color: #4b4b4b;
    cursor: pointer;
    padding-left: 10px;
}

/* Navbar inferior (Links de navegação) */
.cabeçalho2 {
    width: 100%;
    padding: 10px 0;
    background-color: var(--color-primary);
}

.navbar-expand-lg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav.mx-auto {
    display: flex;
    gap: 20px;
}

.nav-item {
    list-style: none;
}

.nav-item .nav-link {
    color: var(--color-light);
    text-decoration: none;
    font-size: 16px;
}

/* Responsividade */
@media screen and (max-width: 992px) {
    .Nome_site {
        margin-left: 2%;
    }
    .search {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .Nome_site {
        font-size: large;
        margin-left: 2%;
    }
    .search {
        width: 85%;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
}
