/* Reset e variáveis estão definidos no global.css */

/* Estilização do formulário */
.bform {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gray);
}

.lformulario {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-light);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: var(--shadow-md);
}

.form-header {
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-header h1 {
    font-size: 2rem;
    color: var(--color-dark);
}

.title h1 {
    margin-left: 65px;
}

/* Inputs */
.linput-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    position: relative;
}

.linput-box label {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-dark);
}

.linput-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow-sm);
    width: 100%;
}

.linput-box input:hover {
    background-color: #eeeeee75;
}

.linput-box input:focus-visible {
    outline: 1px solid var(--color-primary);
}

/* Ícones de erro e sucesso */
.linput-box .error-icon,
.linput-box .success-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    visibility: hidden;
}

.linput-box.success .success-icon {
    color: var(--color-success);
    visibility: visible;
}

.linput-box.error .error-icon {
    color: var(--color-error);
    visibility: visible;
}

.linput-box.error small {
    visibility: visible;
    color: var(--color-error);
    font-size: 0.8rem;
}

/* Botões */
.continue-button button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--color-light);
    margin-bottom: 10px;
}

.continue-button button:hover {
    background-color: #1ab65e;
}

.cadastro-button button {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--color-light);
    color: var(--color-primary);
}

.cadastro-button button:hover {
    background-color: #91f3bb;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .lformulario {
        width: 80%;
    }
}
